{# templates/admin/fields/parents_students.html.twig #}

<ul style="list-style:none; padding-left:0; margin:0;">
    {% set students = field.value %}
    {% if students is empty %}
        <li><em>Aucun enfant</em></li>
    {% else %}
        {% for student in students %}
            <li>
                <a href="{{ path('admin', {
                    crudControllerFqcn: 'App\\Controller\\Admin\\StudentCrudController',
                    entityId: student.id,
                    action: 'detail'
                }) }}">
                    {{ student.firstName }} {{ student.lastName }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
</ul>
